/* color palette
#002159 royal purple
#3b365c eggplant
#bcada2 lavender 
#315f7e cornflower 
#3c87a7 medium blue 
*/

body, html {
	height: 100%;
	background-color:#bcada2;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
main {
	height: 100vh;
}
footer {
	background-color: #002159;
	font-family: Georgia, 'Times New Roman', Times, serif;
	position: sticky;
	top: 100vh;
	padding: 20px 0;
}
table {
	border: 2px solid #002159;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.fab {
	font-size: 5rem;
}
img {
	height: 300px;
	width: 900px;
	padding:3px;
	border:1px solid #002159;
}
iframe {
	display:block;
	margin:auto;
}
.biotext {
	border:3px;
	padding: 5px;
	border-style: solid;
	border-color: #002159;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
/* Jumbotron section*/

.jumbotron-homepage {
	border:4px solid #002159;
	font-family: Georgia, 'Times New Roman', Times, serif;
	background-image: url("images/Apocalyptica_painting.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  } 
  .jumbotron-members {
	border:4px solid #002159;
	font-family: Georgia, 'Times New Roman', Times, serif;
	background-image: url("images/band_members.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  .jumbotron-music {
	border:4px solid #002159;
	font-family: Georgia, 'Times New Roman', Times, serif;
	background-image: url("images/Apocalyptica_crowd.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  .jumbotron-photos {
	border:4px solid #002159;
	font-family: Georgia, 'Times New Roman', Times, serif;
	background-image: url("images/apocalyptica_featured.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height:100vh;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  /*end jumbotron styles*/
  .card-img-top {
	height: 400px;
	overflow: hidden;
  }
  .display-4 {
	text-align: center;
  }