/* color palette
#002159 royal purple
#3b365c eggplant
#bcada2 lavender 
#315f7e cornflower 
#3c87a7 medium blue 
*/

body {
	height: 100vh;
}
main {
	height: 100vh;
}
footer {
	background-color:#bcada2;
	position: sticky;
	top: 100vh;
	padding: 20px 0;
}
.fab {
	font-size: 5rem;
}
img {
	height: 300px;
	width: 900px;
}
