/* color palette
#002159 royal purple
#3b365c eggplant
#bcada2 lavender 
#315f7e cornflower 
#3c87a7 medium blue 
*/

body, html {
	height: 100%;
	background-color:#bcada2;
}
main {
	height: 100vh;
}
footer {
	background-color: #002159;
	position: sticky;
	top: 100vh;
	padding: 20px 0;
}
.fab {
	font-size: 5rem;
}
img {
	height: 300px;
	width: 900px;
}
/* Jumbotron section*/

.jumbotron-homepage {
	color:#002159;
	background-image: url("images/Apocalyptica_painting.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
  } 
  .jumbotron-members {
	color: white;
	background-image: url("images/band_members.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
  }
  .jumbotron-music {
	color: white;
	background-image: url("images/Apocalyptica_crowd.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
  }
  .jumbotron-photos {
	color: white;
	background-image: url("images/apocalyptica_featured.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height:100vh;
  }